/* html */
* {
    padding: 0;
    margin: 0;
    pointer-events: auto;
    /* Vẫn cho phép tương tác với con trỏ */
    -webkit-user-drag: none;
    /* Chặn kéo ảnh trên trình duyệt WebKit */
    user-select: none;
    touch-action: none;
}

/* contianer */
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg1 {
    background: linear-gradient(to left, #153A8B, #241C57);
    display: none;
}

.bg2 {
    background-image: url(../img/bg-body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: initial;
}

@media screen and (max-width: 1150px) {
    .bg1 {
        display: initial;
    }

    .bg2 {
        display: none;
    }

}

.container {
    transition: 1s;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: -800px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}

@media screen and (max-width: 600px) {
    .container {
        box-sizing: border-box;
    }

}

/* title */
.title {
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    font-size: 50px;
}

/* card */
.card {
    width: 100%;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    padding: 10px 0px 50px 0;
    cursor: pointer;
}

.card img {
    pointer-events: none;
    user-select: none;
}

.card label {
    user-select: none;
}

.frames {
    margin: auto;
    position: relative;
    width: 300px;
    height: 352.5px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 2s;
    display: flex;
    justify-content: center;
}

.frame-font {
    background: linear-gradient(#f3c8b2 0 0) padding-box, linear-gradient(45deg, #002aff, #ff0008) border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: calc(100% - 6px);
    text-align: center;
}

.frame-back {
    box-sizing: border-box;
    position: absolute;
    transform: translateZ(-0.1px);
    top: 0;
    text-align: center;
    background: linear-gradient(#ecd7a6 0 0) padding-box, linear-gradient(45deg, #002aff, #ff0008) border-box;
    border: 3px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: calc(100% - 0.04px);
}

.frame-back img {
    position: relative;
    transform: rotateY(180deg);
}

.frame-back div {
    position: relative;
    transform: rotateY(180deg);
}

.frames__img {
    width: 100%;
    padding: 70px 60px 10px 60px;
    box-sizing: border-box;
    border-radius: 10px;
}

.frames__title {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

/* coundown */
.countdown-bar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    max-width: 300px;
    min-width: 250px;
    position: relative;
    margin: 0px auto 10px auto;
    align-items: center;
    display: inline-flex;
    border: 2px solid black;
    border-radius: 50px;
    background-color: #000;
    display: none;
}

.countdown {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(0, 229, 255);
    transition: 0s;
    display: none;
}

.lines {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.line {
    width: 4px;
    border: 0.4px solid #000;
    rotate: 90deg;
    ;
}

/* progress && integral*/
.progress {
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    height: 10px;
    background-color: #333333;
    /* border-radius: 50px; */
    border: #FEFF42 solid 2px;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .progress {
        width: 80%;
    }

}

.progress__length {
    width: 0%;
    height: 100%;
    background-color: #FEFF42;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 1s linear;
}

.progress__length img {
    width: 20px;
    position: absolute;
    right: 0;
    transform: translate(10px, -2px);

}


.buttons{
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);
    left: 50%;
    top: calc(50% + 270px);
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    max-width: 318px;
    height: 10px;
    /* border-radius: 50px; */
    border-radius: 20px;
    justify-content: space-evenly;
    opacity: 0;
}
.buttons *{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #FEFF42;
}
/* menugame */
.menugame {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 1s;
}
.menugame * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
}
#play,
#lose,
#win {
    position: absolute;
    width: 50vw;
    height: 13vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play {
    background-image: url(../img/play.png);
    background-size: cover;
    display: initial;
}

#lose {
    background-image: url(../img/lose.png);
    background-size: cover;
    display: none;
}

#win {
    background-image: url(../img/win2.png);
    background-size: cover;
    display: none;
}

.play_again {
    box-sizing: border-box;
    padding: 10px 20px 20px 20px;
    background-size: cover;
    position: absolute;
    width: 70vw;
    height: 13vw;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 10px), calc(-50% + 10vw));
}
.play_again1{
    background-image: url(../img/play_again.png);
}
.play_again2{
    background-image: url(../img/play_again2.png);
}